<%= f.fields_for :pictures, Picture.new, :child_index => child_index do |builder| %>
	<div class="picture-uploader">
			<div class="upload_button_holder">
				<%= link_to("Upload", "#", :class => "upload_button") %>
				<%= builder.cl_image_upload(:img) %>
			</div>
			<%= link_to "Delete", "#", :class => 'delete', remote: true %>
	</div>
<%end%>