<%= f.fields_for :pictures, Picture.new, :child_index => child_index do |builder| %>
	<div class="picture-uploader">
		<div>
			<div class="upload_button_holder">
				<%= link_to("Upload", "#", :class => "upload_button") %>
				<%= builder.cl_image_upload(:img) %>
			</div>
			<%= link_to "Delete", "#", :class => 'delete', remote: true %>
		</div>
	</div>
<%end%>	


		<!--span class="status">status text</span>
				<div class="thumb-preview">
					<div class="prev-img"></div>
						<= link_to destroy_pic_products_path(PictureTemp.first), remote: true, :method => :delete, :confirm => "Are you sure you want to permanetly delete this post?" do %>
						<div class="image-delete-button"><span class="glyphicon glyphicon-remove"></span></div>
					<end%>
				</div-->